{% extends 'app2/base.html' %}
{% block title %}
  {% if form.instance.pk %}Modifier Équipement{% else %}Ajouter Équipement{% endif %}
{% endblock %}
{% block content %}
<h1>{% if form.instance.pk %}Modifier{% else %}Ajouter{% endif %} Équipement</h1>
<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    {{ form.salle.label_tag }} {{ form.salle }}
  </div>
  <div class="mb-3">
    {{ form.nom.label_tag }} {{ form.nom }}
  </div>
  <div class="mb-3">
    {{ form.description.label_tag }} {{ form.description }}
  </div>
  <button class="btn btn-success">Enregistrer</button>
  <a class="btn btn-secondary" href="{% url 'gestion_equipement_list' %}">Annuler</a>
</form>
{% endblock %}
